<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Happy Hour Helper</title>
</head>

<body>
    <header class="header">
        <h1>Welcome to the Happy Hour Helper</h1>
        <% if (user){ %>
            <p>Welcome back <%= user.first_name %>!</p>
            <% } else{ %>
                <p><a href="/auth/login">Login</a> / <a href="/auth/signup">Sign up</a> to start the journey.</p>
                <% } %>
    </header>
    <h4 id="featured-recipes-title">Featured Recipes:</h4>
    <section class="featured-recipes">
        <!-- Replace the placeholders with actual recipe content -->
        <% for (recipe in featured){ %>
            <div class="recipe">
                <a href="/recipe/id/<%= featured[recipe].recipe_id %>"><img src="<%= featured[recipe].img_url %>" alt="Cocktail 1"></a>
                <div class="recipe-name">
                    <%= featured[recipe].name %>
                </div>
                <div class="ingredients-list">
                    <% for (item in featured[recipe].ingredients){ %>
                        <div class="ingredient">
                            <%= featured[recipe].ingredients[item] %>
                        </div>
                        <% } %>
                </div>
                <div class="directions"><%- featured[recipe].directions %></div>
            </div>
            <% } %>
                <!-- Repeat the above structure for each featured recipe -->
    </section>

    <section class="info">
        <p>This website helps you discover cocktail recipes based on the ingredients you have at home.</p>
    </section>

    <footer class="footer">
        <!-- Add footer content here -->
        <p>Footer content goes here.</p>
    </footer>
</body>

</html>