<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <link rel="stylesheet" href="/css/single-recipe.css">
</head>

<body>
    <div class="container">
        
        <% if (recipe.img_url){ %>
            <% if (recipe.img_url.includes("https")){ %>
                <a href="/recipe/id/<%= recipe.recipe_id %>"><img
                        src="<%= recipe.img_url %>" alt="<%= recipe.name %>"
                        class="recipe-image"></a>
                <% }else {%>
                    <a href="/recipe/id/<%= recipe.recipe_id %>"><img
                            src="/images/drinks/<%= recipe.img_url %>.jpg" alt="<%= recipe.name %>"
                            class="recipe-image"></a>
                    <%}}else{ %>
                        <a href="/recipe/id/<%= recipe.recipe_id %>"><img
                                src="/images/placeholder-image.jpg" alt="<%= recipe.name %>"
                                class="recipe-image"></a>
                        <% } %>
                    <h1 class="recipe-name">
                        <%= recipe.name %>
                    </h1>
                    <h2 class="recipe-heading">Ingredients</h2>
                    <ul class="recipe-list">
                        <% for (ingredient in recipe.ingredients) { %>
                            <li class="recipe-item">
                                <%= recipe.ingredients[ingredient] %>
                            </li>
                            <% } %>
                    </ul>
                    <h2 class="recipe-heading">Directions</h2>
                    <ol class="recipe-list">
                        <p class="recipe-item"><%- recipe.directions %></p>
                    </ol>
    </div>
</body>